.blank-top{
	height: 20px;
}
.blank-bottom {
	height: 50px;
}
.chapter-info-text,
.chapter-content-text,
.contributor-modal,
.merge-acquirement-list {
	margin-top: 15px;
	font-family: "微软雅黑";
}
.chapter-info-text h2{
	text-align: center;
}
.chapter-content-text textarea {
	width: 100%;
	min-height: 500px;
	border-radius: 5px;
	border: 1px solid rgba(39, 41, 43, 0.15);
	padding: 15px;
}
.confirm-publish-modal .content,
.success-publish-modal .content {
	text-align: center;
}
