div.pusher
	div.blank-top(id='top')
	div.ui.page.grid
		div.ui.thirteen.wide.column
			form.ui.segment
				div.chapter-info-text
					div.ui.black.ribbon.label 《{{chapter.bookname}}》
					h2 第{{chapter.index}}章
				div.chapter-info-text
					div.ui.dividing.header 章节介绍
					div.ui.form
						div.field.title
							p 章节标题:
							input(name='title' placeholder='Title...' value='{{chapter.title}}')
						div.field.intro
							p 章节梗概/修改声明
							textarea(name='introduction' placeholder='Introduction...') {{chapter.introduction}}
				div.chapter-content-text
					div.ui.dividing.header 章节文本
					textarea(name='content' placeholder='开始章节...') {{chapter.content}}
					div.ui.bottom.attached.teal.button.submit-btn 提交
				div.ui.small.modal.confirm-publish-modal
					div.content
						h2 是否发布本章节？
					div.actions
						div.ui.black.button 取消
						input.ui.positive.right.button(type='submit' value='确定')
		div.ui.three.wide.column
			div.ui.segment
				div.ui.divided.list.merge-acquirement-list
					div.item
						div.ui.header.center.aligned 贡献者
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者A
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者B
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者C
	div.blank-bottom

div.ui.dimmer.modals.page
	div.ui.standard.modal.contribute-brief-modal
		i.close.icon
		div.header 修改声明
		div.content
			div.ui.medium.image
				img(src="/img/unknown-head.jpg")
			div.description
				div.ui.header 结局更加吸引
				p 主角A隐退江湖
				p 主角B发现线索
		div.actions
			div.ui.black.button 取消
			div.ui.positive.right.button 全文
	div.ui.standard.modal.contribute-detail-modal
		i.close.icon
		div.header 全文
		div.content
			div.center.aligned.header 第一章
			div bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..
		div.actions
			div.ui.black.button 取消
			div.ui.positive.right.button 采纳

	div.ui.small.modal.success-publish-modal
		div.content
			h2 章节发布成功！
		div.actions
			input.ui.positive.right.button(value='确定')