.searchbar {
	width: 220px;
	left: 50%;
	margin-left: -110px;
}
.main.container {
	background-color: white;
	margin: 0 auto;
	box-shadow: 0 0 2px 0 rgb(0, 0, 0, .05);
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 2em 2em 6em;
}
.container {
	font-family: "微软雅黑";
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}
.book {
	width: 140px;
	text-align: center;
}
.book:hover {
	cursor: pointer;
}
.bookface-size {
	width: 140px;
	height: 185px;
	border-radius: 3px;
}
.book-front-board .bookface {
	-webkit-box-shadow: 4px 4px 4px;
	-moz-box-shadow: 4px 4px 4px;
	box-shadow: 4px 4px 4px;
}

.book-front-board .bookname {
	padding-top: 12px;
}

.ui.dividing.header {
	position: relative;
}

.left-direction, .right-direction {
	position: absolute;
	top: 240px;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
	border-radius: 3px;
	cursor: pointer;
}

.left-direction i, .right-direction i {
	width: 100%;
	height: 36px;
	margin-right: 0 !important;
	margin-top: 7px;
}

.left-direction {
	left: 0;
}

.right-direction {
	right: 50px;
}

.left-direction:hover, .right-direction:hover {
	background-color: rgba(0,0,0,0.8);
}

/*.left-direction i {
	width: 50px;
	height: 50px;
}
*/
