div.pusher
	div.ui.segment
		div.container
			div.ui.action.input.searchbar
				input.search-text(type="text" placeholder="Search...")
				button.ui.icon.button
					i.search.icon
	div.dashboard
	div.main.container.book-front-board
		div.ui.dividing.header 热门小说
			.left-direction.hot_novel_left
				i.chevron.left.icon.big.white
			.right-direction.hot_novel_right
				i.chevron.right.icon.big.white
		div.ui.page.grid
			each hot_novels
				div.four.wide.column.temp_hot_novel
					div.book
						a(href='/bookIntro/{{metadata.novelId}}')
							if metadata.haspic
								img.bookface-size.bookface(src='/upload-img/{{copies.images.key}}')
							else
								img.bookface-size.bookface(src='/img/default-bookface.jpg')
						p.bookname 《{{metadata.novelname}}》
			each all_hot_novels
				div.four.wide.column.hot_novel.hidden
					div.book
						a(href='/bookIntro/{{metadata.novelId}}')
							if metadata.haspic
								img.bookface-size.bookface(src='/upload-img/{{copies.images.key}}')
							else
								img.bookface-size.bookface(src='/img/default-bookface.jpg')
						p.bookname 《{{metadata.novelname}}》


		div.ui.dividing.header 最近更新
			.left-direction.latest_novel_left
				i.chevron.left.icon.big.white
			.right-direction.latest_novel_right
				i.chevron.right.icon.big.white
		div.ui.page.grid
			each latest_novels
				div.four.wide.column.temp_latest_novel
					div.book
						a(href='/bookIntro/{{metadata.novelId}}')
							if metadata.haspic
								img.bookface-size.bookface(src='/upload-img/{{copies.images.key}}')
							else
								img.bookface-size.bookface(src='/img/default-bookface.jpg')
						p.bookname 《{{metadata.novelname}}》
			each all_latest_novels
				div.four.wide.column.latest_novel.hidden
					div.book
						a(href='/bookIntro/{{metadata.novelId}}')
							if metadata.haspic
								img.bookface-size.bookface(src='/upload-img/{{copies.images.key}}')
							else
								img.bookface-size.bookface(src='/img/default-bookface.jpg')
						p.bookname 《{{metadata.novelname}}》

