div.pusher
	div.ui.segment
		div.container
			div.ui.action.input.searchbar
				input.search-text(type="text" placeholder="Search...")
				button.ui.icon.button
					i.search.icon
	div.dashboard
	div.main.container.book-front-board
		div.ui.dividing.header 最近更新
		div.ui.page.grid
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book1.jpg')
					p.bookname 《小寂寞》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book2.jpg')
					p.bookname 《温暖的灵魂的味道》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book3.jpg')
					p.bookname 《大主宰》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book4.jpg')
					p.bookname 《莽荒纪》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book5.jpg')
					p.bookname 《我欲封天》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book6.jpg')
					p.bookname 《那片星空那片海》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book7.jpg')
					p.bookname 《林徽因传》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book8.jpg')
					p.bookname 《豪门绝恋》

		div.ui.dividing.header 热门小说
		div.ui.page.grid
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book1.jpg')
					p.bookname 《小寂寞》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book2.jpg')
					p.bookname 《温暖的灵魂的味道》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book3.jpg')
					p.bookname 《大主宰》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book4.jpg')
					p.bookname 《莽荒纪》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book5.jpg')
					p.bookname 《我欲封天》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book6.jpg')
					p.bookname 《那片星空那片海》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book7.jpg')
					p.bookname 《林徽因传》
			div.four.wide.column
				div.book
					img.bookface-size.bookface(src='/img/book8.jpg')
					p.bookname 《豪门绝恋》