div.pusher.read-pusher
	div.ui.raised.segment
		div.container
			div.author-info
				if novelCover.haspic
					img.ui.floated.left.image.authorphoto(src='/upload-img/{{novelCover.copies.images.key}}')
				else
					img.ui.floated.left.image.authorphoto(src='/img/default-bookface.jpg')

				div.author-text
					div.authorname
						h1 {{author.profile.pseudonym}}
					div.self-intro
						p {{author.profile.introduction}}
					div.chapter-intro
						p {{chapter.summary}}
	
	div.ui.two.column.page.grid
		div.thirteen.wide.column.left-grid
			div.ui.raised.segment.chapter-content
				div.ui.black.ribbon.label 第{{chapter.index}}章
				div.chapter-toolbar
					i.users.large.icon.tool(data-content='Contributors' data-variation='large inverted' data-position='top center')
					span {{pullRequest}}
					i.heart.large.icon.tool(data-content='Like?' data-variation='large inverted' data-position='top center')
					span {{chapter.like}}
					i.bookmark.large.icon.tool(data-content="Mark this page?" data-variation='large inverted' data-position='top center')
				div.chapter-title
					h2 {{chapter.title}}
				div.chapter-text
					div {{chapter.content}}
		div.three.wide.column.right-grid
			div.ui.raised.segment
				p time
			div.ui.raised.segment
				div.ui.divided.list
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者A
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者B
					div.item
						img.ui.avatar.image(src='/img/unknown-head.jpg')
						div.content
							a.header 贡献者C
	
	div.ui.column.page.grid
		div.sixteen.wide.column
			div.ui.raised.segment
				div.ui.minimal.comments
					each reviewer
						div.comment
							a.avatar
								img(src="/img/head.jpg")
							div.content
								a.author {{name}}
								div.metadata
									span.date {{createAt}}
								div.text
									p {{content}}
								div.actions
									a.reply Reply
					form.ui.reply.form
						div.field
							textarea
						div.ui.blue.labeled.submit.icon.button
							i.icon.edit
							p Add Reply
	div.ui.black.big.launch.left.attached.fixed.button.fork-btn
		i.edit.icon
		span.text Fork
	div.ui.black.big.launch.left.attached.fixed.button.favor-btn
		i.star.icon
		span.text Favor
	div.ui.black.big.launch.left.attached.fixed.button.download-btn
		i.download.icon
		span.text Download