div.pusher
	div.ui.raised.segment
		div.container
			div.author-info
				img.ui.floated.left.image.authorphoto(src='/img/head.jpg')
				div.author-text
					div.authorname
						h1 Simba
					div.self-intro
						p I am a free writor.
					div.chapter-intro
						p In this chapter, character A will find his lover in an astonish way. However, character B doesn't want this going to happen, so he tried his best to stop this.
	
	div.ui.two.column.page.grid
		div.thirteen.wide.column.left-grid
			div.ui.raised.segment.chapter-content
				div.ui.black.ribbon.label 第1章
				div.chapter-toolbar
					i.users.large.icon.tool(data-content='Contributors' data-variation='large inverted' data-position='top center')
					span 1
					i.heart.large.icon.tool(data-content='Like?' data-variation='large inverted' data-position='top center')
					span 23
					i.bookmark.large.icon.tool(data-content="Mark this page?" data-variation='large inverted' data-position='top center')
				div.chapter-title
					h2 The Big Apple
				div.chapter-text
					div bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..bla bla..

		div.three.wide.column.right-grid
			div.ui.raised.segment
				p time
			div.ui.raised.segment
				div.ui.divided.list
					div.item
						img.ui.avatar.image(src='img/unknown-head.jpg')
						div.content
							a.header 贡献者A
					div.item
						img.ui.avatar.image(src='img/unknown-head.jpg')
						div.content
							a.header 贡献者B
					div.item
						img.ui.avatar.image(src='img/unknown-head.jpg')
						div.content
							a.header 贡献者C
	
	div.ui.column.page.grid
		div.sixteen.wide.column
			div.ui.raised.segment
				div.ui.minimal.comments
					div.comment
						a.avatar
							img(src="/img/head.jpg")
						div.content
							a.author Elliot Fu
							div.metadata
								span.date Yesterday at 12:30AM
							div.text
								p 这章节的结尾部分不太好啊，我fork修改了一下，作者你看看怎样。
							div.actions
								a.reply Reply
						div.comments
							div.comment
								a.avatar
									img(src="/img/head.jpg")
								div.content
									a.author Simba
									div.metadata
										span.date Yesterday at 14:10PM
									div.text
										p 写得很好，我采纳了!
									div.actions
										a.reply Reply
					form.ui.reply.form
						div.field
							textarea
						div.ui.blue.labeled.submit.icon.button
							i.icon.edit
							p Add Reply
	
	div.ui.black.big.launch.left.attached.fixed.button.fork-btn
		i.edit.icon
		span.text Fork
	div.ui.black.big.launch.left.attached.fixed.button.favor-btn
		i.star.icon
		span.text Favor
	div.ui.black.big.launch.left.attached.fixed.button.download-btn
		i.download.icon
		span.text Download