div.ui.left.menu.sidebar.vertical.inverted
	div.item
		if currentUser
			img.ui.circular.tiny.image.userphoto(src='/img/head.jpg')
			a.username(href='/user/{{currentUser.username}}') {{currentUser.username}}
		else
			img.ui.circular.tiny.image.userphoto(src='/img/square-image.png')
			a.username(href='/sign') 未登录
	a.item(href='/home')
		i.home.icon
		span 首页
	a.item(href='/book')
		i.book.icon
		span 小说
	a.item
		i.bookmark.icon
		span 书签
	a.item
		i.mail.icon
		span 消息
		span.ui.red.label 1
	a.item
		i.star.icon
		span 收藏
	a.item
		i.chat.icon
		span 讨论
	a.item
		i.trophy.icon
		span 成就
	a.item
		i.shop.icon
		span 商店
	a.item
		i.settings.icon
		span 设置
	a.item
		i.help.icon
		span 帮助
	if currentUser
		a.item.signout
			i.sign.out.icon
			span 退出
	else
		a.item(href='/sign')
			i.sign.in.icon
			span 登陆
div.ui.black.big.launch.right.attached.fixed.button.menu-btn
	i.content.icon
	span.text Menu