.sign-pusher {
	background-color: rgba(34, 42, 53, 1) !important;
}

.ui.signin, .ui.signup {
	width: 400px;
}

.ui.signin {
	margin: 150px auto 0 auto !important;
}

.ui.signup {
	text-align: left;
	margin: 60px auto 0 auto !important;
}

.hidden {
	display: none !important;
}
