div.pusher
	div.main.container.bookIntro
		div.ui.large.red.right.corner.label
			div.text 新
		div.book-info
			img.ui.floated.left.image.bookfront(src='/img/book2.jpg')
			div.book-text
				div.book-name
					h2 {{novel.name}}
				div.book-detail
					dl
						dt 作者：
						dd {{novel.authorPseudonym}}
						dt 类型：
						dd {{novel.type}}
						dt 贡献者：
						dd {{amountContributor}}
				div.book-intro
					p {{novel.summary}}
				div.book-btn
					div.ui.teal.button 收藏
					div.ui.teal.button 评价
	div.main.container.chapterSelect
		div.ui.aligned.center.header.msg {{init}}

	div.main.container.bookComments
		div.ui.minimal.comments
			each comments
				div.comment
					a.avatar
						img(src="/img/head.jpg")
					div.content
						a.author {{reviewer}}
						div.metadata
							span.date {{createAt}}
						div.text
							p {{content}}

			form.ui.reply.form
				div.field
					textarea
				div.ui.blue.labeled.submit.icon.button
					i.icon.edit
					p Add Reply