div.pusher.bookIntro-pusher
	div.main.container.bookIntro
		div.ui.large.red.right.corner.label
			div.text 新
		div.book-info
			if novelCover.metadata.haspic
				img.ui.floated.left.image.bookfront(src='/upload-img/{{novelCover.copies.images.key}}')
			else
				img.ui.floated.left.image.bookfront(src='/img/default-bookface.jpg')
			div.book-text
				div.book-name
					h2 {{novel.name}}
				div.book-detail
					dl
						dt 作者：
						dd {{novel.authorPseudonym}}
						dt 类型：
						dd {{novel.type}}
						dt 贡献者：
						dd {{amountContributor}}
				div.book-intro
					p {{novel.summary}}
				div.book-btn
					if isForked
						div.ui.red.button.unfork.disabled 参与创作
					else
						div.ui.teal.button.fork 参与创作

	div.main.container.chapterSelect
		div.ui.secondary.pointing.menu
			each chapters
				if (isThefirstChapter tab)
					a.active.item(data-tab='{{tab}}') {{tab}}
				else
					a.item(data-tab='{{tab}}') {{tab}}
		div.chapters
			each chapters
				if (isThefirstChapter tab)
					div.ui.tab.active(data-tab='{{tab}}')
						each button
							div.ui.button.chapter {{this}}

				else
					div.ui.tab(data-tab='{{tab}}')
						each button
							div.ui.button.chapter {{this}}

	div.main.container.bookComments
		div.ui.minimal.comments
			each comments
				div.comment
					a.avatar
						if userPhoto
							img(src="/userphoto-img/{{userPhoto.copies.userphoto.key}}")
						else
							img(src="/img/default-userphoto.jpg")
					div.content
						a.author {{reviewer}}
						div.metadata
							span.date {{createAt}}
						div.text
							p {{content}}

			form.ui.reply.form
				div.field
					textarea
				div.ui.blue.labeled.submit.icon.button
					i.icon.edit
					p Add Reply