body, .pushable {
	background-color: rgba(34, 42, 53, 0.8) !important;
}

/*Bookhub字样*/
.home .title {
	text-align: center;
	position: absolute;
	color: white;
	font-family: 'Gill Sans Ultra Bold', Arial;
	font-size: 100px;
	left: 50%;
	width: 570px;
	margin-left: -285px;
	top: 150px;
	text-shadow:#000 5px 5px 5px;
}
.home .follow {
	text-align: center;
	position: absolute;
	color: lightgreen;
	font-family: 'Gill Sans Ultra Bold', Arial;
	font-size: 30px;
	left: 50%;
	width: 430px;
	margin-left: -220px;
	top: 300px;
	text-shadow:#000 5px 5px 5px;
}

/*网站当前信息*/
.home .homepage-info {
	position: absolute;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	top: 400px;
}
.home .circle {
	position: relative;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px red solid;
	-webkit-box-shadow: 3px 3px 3px;
  	-moz-box-shadow: 3px 3px 3px;
  	box-shadow: 3px 3px 3px;
}
.home .circle > p {
	text-align: center;
	color: lightgreen;
	font-family: 'Gill Sans Ultra Bold';
	font-size: 20px;
	text-shadow:#000 5px 5px 5px;
}
.home .circle.contributor > p {
	margin-left: -30px;
}
.home .circle > .num {
	color: white;
	font-family: 'Gill Sans Ultra Bold';
	font-size: 20px;
	line-height: 100px;
	text-align: center;
}
.home .circle:hover {
	cursor: pointer;
}
.home .circle.book {
	left: 0;
	top: 0;
}
.home .circle.update {
	left: 233px;
	top: -100px;
}
.home .circle.author {
	left: 466px;
	top: -200px;
}
.home .circle.contributor {
	left: 700px;
	top: -300px;
}
.home .write {
	margin-left: 100px;
}
.home .browser {
	margin-right: 100px;
}