head
    meta(charset='UTF-8')
    title BookHub
body.pushable
    +menu_sidebar

template(name='home')
    div.pusher.home
        div.title.animated.bounceInLeft
            p Bookhub
        div.follow.animated.bounceInRight
            p 协同写作  共享小说
        div.homepage-info
            .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
                .center.aligned.column
                    if currentUser
                        a.huge.green.ui.labeled.icon.button.write(href='/user/{{currentUser._id}}')
                            i.write.icon
                            |       创作
                    else
                        a.huge.green.ui.labeled.icon.button.write(href='/sign')
                            i.write.icon
                            |       创作

                .ui.vertical.divider
                    | Or
                .center.aligned.column
                    .huge.green.ui.labeled.icon.button.browser
                        i.browser.icon
                        |       浏览
        img.homepage(src='/img/home.jpg')
